* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 90%;
    height: auto;
    background-color: white;
    margin: auto;
}

.header {
    width: 100%;
    height: 67px;
    background-color: #F7F9FC;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.header p {
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 2.8%;
    color: #1C3D5D;

}

.content {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 0 60px 0;
    position: relative;
    margin-bottom: 50px;
}

.content:hover {
    background-color: #F7F9FC;
}

.checkBox {
    width: 6%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.check {
    width: 68.65%;
    height: 50px;
    background: linear-gradient(124.12deg, #FFFFFF -8.5%, #D8D8D8 123.26%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.check img::selection {
    user-select: none;
}

.check_active {
    background: linear-gradient(129.55deg, #14BC5F -7.24%, #007D38 113.94%);
}

.check img {
    height: 19.910419464111328px;
    width: 26.576248168945312px;
}

.textBox {
    width: 81.2%;
    height: 100px;
    overflow: hidden;
    padding: 0 15px 0 0;
    margin: 20px 0 0 0;

}


.textBox p {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #787878;
}

.title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.title h1 {
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #161616;
}

.title a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 5px;
    color: #1C3D5D;
}

.title a:hover {
    color: #EA6227;
}

.expand {
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: flex-end;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #1C3D5D;
    cursor: pointer;
    position: absolute;
    bottom: 7px;
    z-index: 2;
    padding: 5px 0 30px 0;
}

.expand:first-child {
    right: 14%;
}

.expand p {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #1C3D5D;
    cursor: pointer;
    right: 14%;
    position: absolute;
}

.expand:hover #expandBtn {
    color: #EA6227;
}

.arrowBox {
    width: 10.8%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

hr {
    height: 1px;
    border: none;
    background-color: #EBEBEB;
    margin-top: -49.5px;
}

/* accordion */

.less {
    height: auto;
}