
@media(min-width:1024px) and (max-width:1200px) {
   
    .header{
        margin: 0;
    }
    .header p{
        font-size: 23px;
        white-space: nowrap;
        margin: 0;
    }
    .content{
        padding: 0 0 33px 0;
    }
    .title{
        display: flex;
    }
    .title h1 {
        font-size: 20px;
        white-space: nowrap;
    }
    .title a {
        font-size: 18px;
        white-space: nowrap;

    }
    .expand p {
        font-size: 18px;
        line-height: 23px;
    }
    .checkBox{
        height: 103px;
        display: flex;
        margin: 25px 5px 0 0;

    }
    .check{
        width: 50px;
        height: 44px;
        background: linear-gradient(129.55deg, #14BC5F -7.24%, #007D38 113.94%);

    }
    .check img{
        width: 60%;
        height: 50%;
    }
    .expand{
        padding: 0;
        font-size: 18px;
    }
    
   
}


@media(min-width:1201px) and (max-width:2560px) {
   
   
    .header{
        margin: 0;
    }
    .header p{
        font-size: 25px;
        white-space: nowrap;
        margin: 0;
    }
    .content{
        padding: 0 0 33px 0;
    }
    .title{
        display: flex;
    }
    .title h1 {
        font-size: 21px;
        white-space: nowrap;
    }
    .title a {
        font-size: 19px;
        white-space: nowrap;

    }
    .textBox p {
        font-size: 19px;
        line-height: 23px;
    }
    .checkBox{
        height: 103px;
        display: flex;
        margin: 25px 5px 0 0;

    }
    .check{
        width: 50px;
        height: 50px;
        background: linear-gradient(129.55deg, #14BC5F -7.24%, #007D38 113.94%);

    }
    .check img{
        width: 60%;
        height: 50%;
    }
    .expand{
        padding: 0;
        font-size: 19px;
    }
    
}

